{% for offer in site.offers %}
<li class="offer {{ offer.class }}">
  <div class="offer-header">
    <p class="label">{% t offer-blocks.investment-of %}</p>
    <h4 class="offer-value"> {{ offer.price }} $+ </h4>
    <form class="form-btn" action="https://www.gotroo.com/en/fund-raising-view/99/protect-yu/" method='get'>
      <button class="btn one">{% t offer-blocks.button %}</button>
    </form>
    <p class="description">
       {% t with-any-investment-of %} {{ offer.price }} or more, you will be entitled to
      <span class="percentage">{{ offer.percentage }}%</span>
      {% t offer.description %}
    </p>
  </div>
   <p class="offer-length">
    {% t offer-length %} <span class="year"> {{ offer.years }} years. </span>
  </p>  
</li>
{% endfor %}
