<div id="side-menu" class="side-menu">
  <div class="wrapper">
    <span class="trigger">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <nav class="menu-row">
      <ul>
        <li> <a href="{{ site.baseurl }}/comming-soon">{% t service-blocks.title.one %}</a> </li>
        <li> <a href="{{ site.baseurl }}/comming-soon">{% t service-blocks.title.two %}</a> </li>
        <li> <a href="{{ site.baseurl }}/comming-soon">{% t service-blocks.title.three %}</a> </li>
        
        <li> <a href="https://www.gotroo.com/en/fund-raising-view/99/protect-yu/"> <img src='{{ "/assets/img/logo_gotroo.png" | prepend: site.baseurl_root }}' alt=""> </a> </li>
        <li>
          <ul class="social">
            <li>
              <a href="https://www.youtube.com/channel/UCXcx78yGApb1nkmlpZTpxLA"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/protectyu/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/protect-yu"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </li>
        <li>
          <ul class="language">
            {% capture link1 %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
            {% capture link2 %}/fr{{ page.url }}{% endcapture %}
              <li><a href="{{ link1 }}" >EN</a></li>
              <li><a href="{{ link2 }}" >FR</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>