.side-menu{
	z-index: 4;

	.wrapper{
		position: relative;
		width: 100%;
		height: 100%;

		.trigger{
			position: absolute;
			top: 5px;
			right: 5px;
		}
	}

	.menu-row{
		margin-top: 50px;
		text-align: right;
		ul{
			list-style: none;
			li{
				margin: 10px 10px;
				a{
					color: $white;
					text-decoration: none;
					font-weight: 300;
				}
			}
			
			&.language, &.social{
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				li{
					margin-right: 10px;
				}
			}
		}
	}
}

.content-wrapper{
	.trigger{
			position: absolute;
			right: 5px;
			top: 5px;
			z-index: 3;
			margin: $gutter $gutter;
		span{
			display: block;
			width: 25px;
			height: 3.5px;
			margin: 3.5px;
		}
		@media #{$medium} { display: none;}	
	}

	.menu-row{

		display: none;

		@media #{$medium}{
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			margin-top: 35px;
			margin-right: $gutter * 2;
			z-index: 5;
			ul{
				display: inline-flex;
				align-items: flex-end;
				li{
					margin-left: $gutter / 2; 
					list-style: none;
				}

				&.drop-down{
					display: block;
					&:hover{
						> :last-child{
							display: block;
						}
					}

					li:last-child{
						position: absolute;
						display: none;
					}
				}

				&.language{
					border-left: 2px solid $white;

					li:first-child:after{
						background: {
							image: url('/img/dropdown.svg');
							repeat: none;
							size: 100% 100%;
						}
						position: absolute;
						display: block;
						content: "";
						width: 12px;
						height: 7px;
						right: -15px;
	    				top: 19px;
					}	

				}
			}
		}
	}

	.logo-wrapper{
		margin: $gutter $gutter;
		position: absolute;
		z-index: 2;

		img{
			width: 100px;
		}

		@media #{$medium}{
    	margin-left: $gutter * 2;
    	img{
    		width: auto;
   		}
		}
	}

	.owl-stage-outer, .owl-stage, .owl-item{
		height: 100%;
	}

	.owl-theme{		
		.owl-dots{
			display: block !important;
			position: absolute;
			margin-bottom: 24px;

			@media #{$mobile}{
				bottom: 60px;left: 0;right: 0;
			}

			@media #{$medium}{
				width: 50px;
	    	bottom: 0;
	    	right: 0;
	    	top: 50%;
			}
		}

		@media #{$mobile}{
			position: relative;
		}
	}

	.hero-section{
		height: 100vh;
		position: relative;

		.scroll-to{
			position: absolute;
			bottom: 0;
			z-index: 3;
			text-align: center;
			width: 100%;
			padding-bottom: 10px;
			p{
				margin: 0 5px;
			}
		}
	}

	.hero-section--slider{
		position: relative;
		height: 100%;
		width: 100%;
		.owl-slide{
			@include display-flex;
			@include flex-wrap(wrap);
			@include justify-content(center);
			@include align-items(center);
			height: 100%;
			width: 100%;
			background: {
				image: url('/img/background.png');
				repeat: no-repeat;
				position: center;
			 	size: cover;
				position: center center; 
			}
		}
		.slide-text{
			max-width: 900px;
			margin: $gutter;
		}
	}
	
	.cta-section {
		position: relative;
		overflow: hidden;	
		@media #{$large}{
			padding-bottom: $gutter * 2;
		}
	}

	.cta-section--content-wrapper{
		@include display-flex;
  	@include flex-direction(row);
  	@include flex-wrap(wrap);
  	@include justify-content(center);
	}

	.cta-section--content{
		@include display-flex;
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(center);
		max-width: 1200px;

	}

	.cta-section--top-logo {
    position: relative;
    top: -137px;
    left: -37px;
    margin-bottom: 75px;
    &:before{
    	position: absolute;
    	background: {
				image: url('/img/top-icon.png');
				repeat: no-repeat;
				position: center;
				size: 100% 100%;

			};
			display: block;
			content: "";
			height: 213px;
			width: 231px;
    	}
	}
	
	.cta-section--header{
		text-align: center;
		flex: 1 0 100%;
		span.underline{
			margin: 0 auto;
			display: block;
			height: 1.5px;
    	width: 100px;
		}
	}

	.cta-section--title{
		@media #{$mobile}{
			margin: 15px $gutter;
		}
	}

	.cta-section--detail-block{
		@include display-flex;
  	@include flex-direction(row);
  	@include flex-wrap(wrap);
  	@include align-items(center);
  	@include justify-content(center);
  	margin: 0 $gutter / 2;

		h3, p.subtitle,{
			margin: 10px $gutter;
		}

		div.body-text{
			p{
				margin: $gutter / 2;
			}
		}
		
		button{
			flex: 0 0 200px;
			height: 50px;
			margin-bottom: $gutter;
		}

		@media #{$mobile}{
			max-width: 350px;
			div.body-text{
				margin: 0 auto;
			}
		}

		@media #{$medium}{
			flex: 1 0 450px;
    	max-width: 530px;
    	@include align-items(flex-start);
    	@include justify-content(center);

    	h3, p.subtitle,{
    		text-align: center;
				margin: 10px 0px;
			}

			button{
				margin-right: $gutter;
			}

			div.body-text{
				max-width: 390px;
				p{
					margin: $gutter / 2 0px;
				}
			}
		}
		@media #{$large}{
			@include justify-content(flex-start);

			h3, p.subtitle{
				text-align: left;
			}
		}
	}
}

.cta-section--offer-block{
	flex: 1 1 450px;
	@include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(center);
	ul {
		@include display-flex;
  		@include flex-direction(row);
  		@include flex-wrap(wrap);
  		@include align-items(center);
  		@include justify-content(center);

		li.offer{
			list-style: none;
			flex: 1 229px;
			max-width: 320px;
			margin: $gutter;
			padding: $gutter;

			button.btn{
				width: 100%;
				height: 50px;
			}
			
			@media #{$medium} { 
				margin: 0;
				flex: 1 0 30%;
				&.two{
					margin-left: -$gutter;
					z-index: 200;
				}

				&.three{
					margin-left: -$gutter;
				}

			}
		}
		@media #{$medium} {
			@include flex-wrap(nowrap);
			max-width: 800px;
			margin: $gutter;
		}
	}

	p.label{
		margin: $gutter / 4 0;
	}
	
	h4.offer-value{
		margin: $gutter / 4 0;
	}
}

.offer-value--section{
	.offer-value--wrapper{
		@include display-flex; 
		@include flex-direction(row);
		@include justify-content(center);
	}

	ul{
		padding-top: $gutter;
		padding-bottom: $gutter;
		max-width: 1200px;
		@include display-flex;
  		@include flex-direction(row);
  		@include flex-wrap(wrap); 
		li{
			flex: 300px;
			list-style: none;
			margin: $gutter;
	
			h2, p{
				margin: 0 0 $gutter / 2 0;
			}
		}
	}
}

.about-us--section{
	position: relative;
	&:after{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 200px;
    height: 80px;
		display: block;
    content: '';
		background: {
			image: url('/img/bottom-icon.png');
		}
	}
}

.founder--list{
	max-width: 1200px;
	margin: 0 auto;
	@include display-flex;
  	@include flex-direction(row);
  	@include flex-wrap(wrap);
  	@include justify-content(center);

  	@media #{$medium} {
  		@include flex-wrap(wrap);
  	}

  	@media #{$large} {
  		@include flex-wrap(nowrap);
  	}
}

.founder--block{
	flex: 0 0 320px;
	margin: $gutter;
	@include display-flex;
  	@include flex-direction(row);
  	@include flex-wrap(wrap);	
  	@include align-items(center);

  .founder--role{
  	@media #{$mobile}{
  		margin: 0 25px;
  	}
  }
	
	.founder--image-wrapper{
		margin: 0 auto;
		flex: 0 0 140px;
		height: 170px;

		&.piere{
			background: {
				image: url('/img/piere-g-fillion.png');
				repeat: no-repeat;
			}
		}

		&.michel{
			background: {
				image: url('/img/michel-junea-katsuya.png');
				repeat: no-repeat;
			}
		}	

		@media #{$medium}{
			margin: 0 $gutter;
			flex: 1 0 200px;
			height: 250px;
			&.piere{
				background: {
					image: url('/img/piere-g-fillion-lrg.png');
					repeat: no-repeat;
				}
			}

			&.michel{
				background: {
					image: url('/img/michel-junea-katsuya-lrg.png');
					repeat: no-repeat;
				}
			}	
		}
	}
	
	.founder--name{
		margin: $gutter / 2 0;
	}

	.founder--content-wrapper{
		margin: 0 $gutter / 1.5;
	}

  	@media #{$medium} { 
  		@include flex(1 0 450px); 
  		@include flex-wrap(nowrap); 
  	}	
}

footer{
	display: inline-block;

	.footer--wrapper{
		@include display-flex;
		@include flex-direction(column);
  	@include flex-wrap(wrap);
  	@include justify-content(space-around);
  	@include align-items(center);
  	margin: $gutter * 2 0;
  	@media #{$medium}{
  		@include flex-direction(row);
  		@include align-items(flex-start);
  		max-width: 1200px;
			margin: $gutter auto;
  	}
	}

	.address--block{
		text-align: center;
		flex: 0 0 150px;
		@media #{$medium}{
			flex: 0 0 200px;
			margin: 0px;
			text-align: left;
			p.address--street, p.address--phone{
				margin-left: 0px;
			}
			p.address--phone{
				margin: $gutter 0px;
			}
		}
	}

	.social-media--block{
		ul{
			@include display-flex;
			@include justify-content(space-around);
			li{
				list-style: none;
			}
		}
	}
	
	.icon--block{
		display: inline-flex;
		img{
			margin: 0 auto;
			@media #{$medium}{
				margin-top: 1.3em;
			}

			@media #{$mobile}{
				width: 75%;
				height: 75%;
			}
		}
	}

	.flex-fieldset{
		@include display-flex;
		@include flex-direction(row);
		@include flex-wrap(wrap);
		padding-bottom: 10px;
	}
	
	label{
		flex: 0 0 15px;
	}

	input[type="text"]{
		flex: 0 0 85%;
		padding-left: 3%;
	}

	button{
		@include display-flex;
		@include justify-content(center);
		@include align-content(center);
		height: 35px;
		margin-top: $gutter;
		width: 100%;

		i{
			padding-top: 4px;
			padding-left: 4px;
		}

		@media #{$medium}{
			height: 43px;
			width: 200px;
		}
	}
}
