.btn{
	border: none;
	color: $white;
}

.side-menu{
	background-color: $black;
	.trigger{
		color: $white;
	}

	.menu-row{
		font-family: $openSans;
		font-weight: 400;
		font-size: 14px;
	}
}

.owl-slide{
	.slide-text{
		h4, p{
			text-align: center;
			font-family: $openSans;
			color: $white;
		}

		h4{
			font-size: 18px;
			font-weight: 400;
		}

		p{
			font-size: 14.44px;
			font-weight: 300;
		}

		@media #{$medium}{

			h4{
				font-size: 35px;
			}

			p{
				font-size: 18px;
			}

		}
	}
}

.owl-theme{
	.owl-dots{
		color: $yellow;

		.owl-dot{
			&.active{
				span{
					background: $yellow;
				}
			}
			span{ 
				background: transparent;
				border: 1px solid $yellow;
			}
		}
	}
}


.content-wrapper{
	.trigger{
		span{ background-color: $white; }
	}

  .underline{
    background-color: $underline-grey;
  }
}

.cta-section--title {
	font-family: $openSans;
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
}

.cta-section--subtitle{
	font-family: $openSans;
	font-size: 16px;
	color: $subtitle-dark-grey;
	font-weight: 300;
}

.hero-section{
	.menu-row{
		color: $white;
		a{
			color: $white;
			text-decoration: none;
			font-family: $openSans;
			font-weight: 400;
		}
	}
	.scroll-to{
		p{
			color: $white;
			font-family: $openSans;
			font-size: 14.4px;
			font-weight: 300;
		}
	}
}


.cta-section--detail-block {
	@include font-smoothing(off);

	h3, p{
		font-family: $openSans;
	}

	h3{
		text-align: center;
		color: $cta-light-blue;
		font-size: 24px;
		font-weight: 300;
		text-transform: uppercase;

		@media #{$large}{
			font-size: 30px;
			text-align: left;
		}
	}
	p.subtitle{
		color: $subtitle-grey;
		font-size: 16px;
		font-weight: 300;
		text-align: center;
		@media #{$medium}{
			text-align: left;
		}
	}
	
	div.body-text{
		p{
			text-align: left;
			font-size: 14px;
		}
	}
}

.cta-gradient-blue{
  @include background-image($blueButtonGradient);
  color: $white;
  border-radius: 5px;
  font-family: $openSans;
  font-size: 17.5px;
}

.cta-section--offer-block{
	ul {
		li.offer{
			background-color: $white;
			box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
			
			.btn{
				font-size: 24px;
				font-weight: 300;
				letter-spacing: 1px;
				font-style: $roboto;
			}

			p.label{
				font-size: 18px;
				color: $black;
				font-family: $roboto;
				text-align: center;
			}

			p.description, p.offer-length{
				font-family: $roboto;
				font-weight: 300;
				font-size: 16px;
				
				.year{
					color: $cta-light-blue;
					font-weight: 400;
				}
			}

			p.includes {
				font-family: $roboto;
				font-size: 16px;
			}

			h4.offer-value{
				font-family: $roboto;
				font-size: 36px;
				color: $subtitle-dark-grey;
				text-align: center;
			}

			&.one{
				.btn{
					@include background-image($orangeButtonGradient);
				}
				.percentage{
					color: $cta-light-orange;
					font-weight: 400;
				}
			}

			&.two{
				.btn{
					@include background-image($blueButtonGradient);
				}
				.percentage{
					color: $cta-light-blue;
					font-weight: 400;
				}
			}

			&.three{
				.btn{
					@include background-image($redButtonGradient);
				}
			}
		}
	}
}

.offer-value--section{
	background-color: $offWhite;
	ul{
		li{
			.value-title{
				text-transform: uppercase;
				font-family: $openSans;
				font-size: 30px;
				font-weight: 100;
				@media #{$medium}{
					font-size: 40px;
				}
			}

			.value-body{
				font-family: $openSans;
				font-size: 14px;

				@media #{$medium}{
					font-size: 16px;
				}
			}
		}
	}
}

.founder--block{

	.founder--role, .founder--name, .founder--bio{
		font-family: $openSans;
		font-weight: 300;
	}
	
	.founder--name{
		font-size: 18px;
		text-align: center;
	}

	.founder--role{
		font-size: 14px;
		text-align: center;
		color: $subtitle-dark-grey;
	}

  	@media #{$medium} { 
		.founder--name, .founder--role, { text-align: left; }
		

  		.founder--name{ font-size: 24px; }
  	}	
}

footer{
	background-color: $black;
	.block--title{
		color: $white;
		font-weight: 300;
		font-family: $openSans;
		font-size: 18px;
	}

	.address--street, .address--phone{
		color: $footer-grey;
		font-weight: 300;
		font-family: $openSans;
		font-size: 14px;
		margin: 0 $gutter;
	}
	
	.social-media--block{
		li{
			color: $footer-grey
		}
	}

	.contact-form--block{
		label{
			color: $white;
		}

		.flex-fieldset{
			border-bottom: 1px solid $footer-grey;
		}

		input[type="text"]{
			background-color: $black;
			border: none;
			font-style: italic;
			font-weight: 300;
		}

		 button{
			background-color: $yellow;
			color: black;
			border: none;
			border-radius: 2px;
			font-size: 14px;
			font-weight: 500;
			font-family: $openSans;
		}
	}
	
}







