.btn{
	border: none;
	color: $white;
}

a.scroll-to{
	text-decoration: none;
}

.flash{
	color: $white;
	text-align: center;
	font-size: 24px;
	font-family:  $openSans;
	
	&.invalid{
		background: $yellow;
		color: $black;
	}

	&.error{
		background: $lightRed;
	}

	&.success{
		background: $topBlue;
	}
}

header {
	.trigger{
		span{ background-color: $white; }
	}
	.menu-row{
		color: $white;
		a, li{
			color: $white;
			text-decoration: none;
			font-family: $openSans;
			font-weight: 400;
		}
	}
}

.side-menu{
	background-color: $black;
	.trigger{
		color: $white;
	}

	.menu-row{
		font-family: $openSans;
		font-weight: 400;
		font-size: 14px;

		a{
			color: $white;
			text-decoration: none;
			&:visited{
				color: $white;
			}
		}
	}
}

.owl-slide, .comming-soon__hero{
	
	h4, p{
		text-align: center;
		font-family: $openSans;
		color: $white;
	}

	h4{
		font-size: 18px;
		font-weight: 400;
	}

	p{
		font-size: 14.44px;
		font-weight: 300;
	}
	
	.slide-text{

		@media #{$medium}{

			h4{
				font-size: 35px;
			}

			p{
				font-size: 18px;
			}

		}
	}
}

.owl-theme{
	.owl-dots{
		color: $yellow;

		.owl-dot{
			&.active{
				span{
					background: $yellow;
				}
			}
			span{ 
				background: transparent;
				border: 1px solid $yellow;
			}
		}
	}
}

.content-wrapper{


  	.underline{
    	background-color: $underline-grey;
  	}
}

.cta-section--title {
	font-family: $openSans;
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
}

.cta-section--subtitle{
	font-family: $openSans;
	font-size: 16px;
	color: $subtitle-dark-grey;
	font-weight: 300;
}

.hero-section{

	.scroll-to{
		p{
			color: $white;
			font-family: $openSans;
			font-size: 14.4px;
			font-weight: 300;
		}
	}
}


.cta-section--detail-block {
	@include font-smoothing(off);

	h3, p{
		font-family: $openSans;
	}

	h3{
		text-align: center;
		color: $cta-light-blue;
		font-size: 24px;
		font-weight: 300;
		text-transform: uppercase;

		@media #{$large}{
			font-size: 30px;
			text-align: left;
		}
	}
	p.subtitle{
		color: $subtitle-grey;
		font-size: 16px;
		font-weight: 300;
		text-align: center;
		@media #{$medium}{
			text-align: left;
		}
	}
	
	div.body-text{
		p{
			text-align: left;
			font-size: 14px;
		}
	}
}

.cta-gradient-blue{
  background-image: $blueButtonGradient;
  color: $white;
  border-radius: 5px;
  font-family: $openSans;
  font-size: 17.5px;
}

.cta-section--offer-block{
	ul {
		li.offer{
			background-color: $white;
			box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
			
			.btn{
				font-size: 24px;
				font-weight: 300;
				letter-spacing: 1px;
				font-style: $roboto;
			}

			p.label{
				font-size: 18px;
				color: $black;
				font-family: $roboto;
				text-align: center;
			}

			p.description, p.offer-length{
				font-family: $roboto;
				font-weight: 300;
				font-size: 16px;
				
				.year{
					color: $cta-light-blue;
					font-weight: 400;
				}
			}

			p.offer-length{
				letter-spacing: .5px;
			}

			p.includes {
				font-family: $roboto;
				font-size: 16px;
			}

			h4.offer-value{
				font-family: $roboto;
				font-size: 36px;
				color: $subtitle-dark-grey;
				text-align: center;
			}

			&.one{
				.btn{
					background-image: $orangeButtonGradient;
				}
				.offer-length .year,
				.percentage{
					color: $cta-light-orange;
					font-weight: 400;
				}
			}

			&.two{
				.btn{
					background-image: $blueButtonGradient;
				}
				.offer-length .year,
				.percentage{
					color: $cta-light-blue;
					font-weight: 400;
				}
			}

			&.three{
				.btn{
					background-image: $redButtonGradient;
				}
				
				.offer-length .year,
				.percentage{
					color: $lightRed;
					font-weight: 400;
				}
			}
		}
	}
}

.offer-value--section{
	background-color: $offWhite;
	ul{
		li{
			.value-title{
				text-transform: uppercase;
				font-family: $openSans;
				font-size: 22px;
				font-weight: 100;
				@media #{$medium}{
					font-size: 30px;
				}
			}

			.value-body{
				font-family: $openSans;
				font-size: 14px;

				@media #{$medium}{
					font-size: 16px;
				}
			}
		}
	}
}

.founder--block{

	.founder--role, 
	.founder--name, 
	.founder--bio{
		font-family: $openSans;
		font-weight: 300;
	}

	h1.founder--name{
		font-size: 38px;
		font-family: $openSans;
	}
	
	.founder--name{
		font-size: 18px;
		text-align: center;
	}

	.founder--role{
		font-size: 14px;
		text-align: center;
		color: $subtitle-dark-grey;
	}

  	@media #{$medium} { 
		.founder--name, 
		.founder--role { text-align: left; }
  		.founder--name{ font-size: 24px; }
  	}	
}

footer{
	background-color: $black;
	.block--title{
		color: $white;
		font-weight: 300;
		font-family: $openSans;
		font-size: 18px;
	}

	.address--street,
	 .address--phone{
		color: $footer-grey;
		font-weight: 300;
		font-family: $openSans;
		font-size: 14px;
		margin: 0 $gutter;
	}
	
	.social-media--block{
		li{
			color: $footer-grey;
			
			a{ color: $white; }

			a:visited{
				color: $white;
			}
		}
	}

	.contact-form--block{
		label{
			color: $white;
		}

		.flex-fieldset{
			border-bottom: 1px solid $footer-grey;
		}

		input[type="text"]{
			background-color: $black;
			border: none;
			font-style: italic;
			font-weight: 300;
			color: $white;
			&.invalid{
				border: 1px solid $yellow;
			}

			&.error{
				border: 1px solid $lightRed;
			}

			&.succss{
				border: 1px solid $topBlue;
			}
		}

		 button{
			background-color: $yellow;
			color: black;
			border: none;
			border-radius: 2px;
			font-size: 14px;
			font-weight: 500;
			font-family: $openSans;
		}
	}	
}

.cta-section{
	.service-title,
	.service-subtitle,
	.service-text > h2,
	.service-text > p
	{
		font-weight: 300;
		text-align: center;
		font-family: $openSans;
	}
	
	.service-text > p,
	.service-subtitle{
		color: $subtitle-grey;
	}

	.service-title{
		font-size: 40px;
		@media #{$mobile}{
			font-size: 22px;
		}
	}

	.service-subtitlte{
		font-size: 20px;
	}

	.service-text{
		h2 { font-size: 32px; }
		p { font-size: 16px; }
		.black{
			color: black;
		}
	} 

}


.news-letter__block{
	background-color: $offWhite;

	.news-letter__subscription--text{
		h2, p{
			font-weight: 300;
			font-family: $openSans;
		}

		h2{
			font-size: 40px;
			text-transform: uppercase;

			@media #{$mobile}{
				font-size: 22px;
			}
		}

		p{
			font-size: 16px;
		}
	}

	.news-letter__subscription--form{
		.btn{
			background: $blueButtonGradient;
		}
		
		form {
			width: 100%;
		}

		input{
			background-color: transparent;
			border: 0;
		}

		.flex-fieldset{
			border-bottom: 1px solid black;

			i{
				color: #aaaaaa;
			}
		}
	}

}





